* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  height: auto;
}
body {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* COMMON */
.nunito {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
.nunito--400 {
  color: rgb(185, 28, 28);
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
}

.flex {
  display: flex;
}
.flex-column{
    flex-direction: column;
}
.cursor-pointer {
  cursor: pointer;
}
.text-decoration-none {
  text-decoration: none;
  color: rgb(185, 28, 28);
}

.gap-8{
    gap: 8px;
}
.gap-12 {
  gap: 12px;
}
.item-w320 {
  width: 320px;
}
.item-w154 {
  width: 154px;
}
.item-w209 {
  width: 209px;
}

.wrap {
  flex-wrap: wrap;
}

.card-info {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.position-relative {
  position: relative;
}
.possition-absolute {
  position: absolute;
}
.position-l12-b32 {
  left: 12px;
  bottom: 32px;
}
.position-l12-b8 {
  left: 12px;
  bottom: 8px;
}
.position-r12-b8 {
  right: 12px;
  bottom: 8px;
}
.position-l12-b11 {
  left: 12px;
  bottom: 11px;
}
.position-t12-l12 {
  left: 12px;
  top: 12px;
}
.anime-title {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.anime-view-ep {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
/* HEADER */
.header {
  width: 100%;
  background-color: #1e293b;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgb(51, 65, 85) 0px 1px 3px 0px, rgb(51, 65, 85) 0px 1px 2px -1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(229, 231, 235);
  color: rgb(156, 163, 175);
  position: fixed;
  z-index: 1;
}

.header-elements {
  width: 1316px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 156px;
  padding: 5px 5px;
  margin-right: 49px;
}
.header-category {
  display: flex;
  gap: 14px;
  margin-right: 117px;
}
.header-category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
  border-color: rgb(55, 65, 81);
  border-width: 1px;
  border-radius: 9999px;
  height: 30px;
  line-height: 21px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
}
.item {
  display: block;
  text-decoration: none;
  color: rgb(156, 163, 175);
}
.search-box {
  width: 320px;
  height: auto;
  position: relative;
}
.box {
  width: 320px;
  height: 30px;
  position: relative;
  border: solid;
  border-width: 1px;
  border-radius: 9999px;
  border-color: rgb(55, 65, 81);
}
.search-icon {
  position: absolute;
  right: 2px;
  top: 2px;
}
.navigation-bar {
  width: 320px;
  margin-right: 0;
}

/* MAIN */
.main {
  width: 1316px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-list{
width: 100%;
}
.newest-ep-card{
    width: 320px;
}
.status{
    display: flex;
    width: 91px;
    padding: 4px;
    line-height: 21px;
    background-color: rgba(220, 38, 38, 0.5);
    border-radius: 12px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
.bxh-big-img {
  width: 431px;
}
.bxh-small-img{
    display: flex;
    width: 872px;
}

.bst-big-img{
    width: 431px;
}
.bst-small-img{
    display: flex;
    width: 872px;
}

/* FOOTER */
footer {
  width: 100%;
  height: 96px;
}
